In [1]:
# Importing python packages 
import numpy as np  # numpy!
import seaborn as sns # visualisation!
import matplotlib.pyplot as plt # visualisation!
import pandas as pd # dataframes & data analysis!

In [2]:
# Importing the data 
dataset = 'Life Expectancy Data.csv'
df = pd.read_csv(dataset)

In [3]:
pd.reset_option('display.max_columns')
df.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Turkiye,Middle East,2015,11.1,13.0,105.8240,1.32,97,65,27.8,...,97,0.08,11006,78.53,4.9,4.8,7.8,0,1,76.5
1,Spain,European Union,2015,2.7,3.3,57.9025,10.35,97,94,26.0,...,97,0.09,25742,46.44,0.6,0.5,9.7,1,0,82.8
2,India,Asia,2007,51.5,67.9,201.0765,1.57,60,35,21.2,...,64,0.13,1076,1183.21,27.1,28.0,5.0,0,1,65.4
3,Guyana,South America,2006,32.8,40.5,222.1965,5.68,93,74,25.3,...,93,0.79,4146,0.75,5.7,5.5,7.9,0,1,67.0
4,Israel,Middle East,2012,3.4,4.3,57.9510,2.89,97,89,27.0,...,94,0.08,33995,7.91,1.2,1.1,12.8,1,0,81.7

In [4]:
df.columns

Index(['Country', 'Region', 'Year', 'Infant_deaths', 'Under_five_deaths',
       'Adult_mortality', 'Alcohol_consumption', 'Hepatitis_B', 'Measles',
       'BMI', 'Polio', 'Diphtheria', 'Incidents_HIV', 'GDP_per_capita',
       'Population_mln', 'Thinness_ten_nineteen_years',
       'Thinness_five_nine_years', 'Schooling', 'Economy_status_Developed',
       'Economy_status_Developing', 'Life_expectancy'],
      dtype='object')

In [5]:
df.dtypes

Country                         object
Region                          object
Year                             int64
Infant_deaths                  float64
Under_five_deaths              float64
Adult_mortality                float64
Alcohol_consumption            float64
Hepatitis_B                      int64
Measles                          int64
BMI                            float64
Polio                            int64
Diphtheria                       int64
Incidents_HIV                  float64
GDP_per_capita                   int64
Population_mln                 float64
Thinness_ten_nineteen_years    float64
Thinness_five_nine_years       float64
Schooling                      float64
Economy_status_Developed         int64
Economy_status_Developing        int64
Life_expectancy                float64
dtype: object

In [7]:
df.loc[((df['Hepatitis_B'] >=100) | 
        (df['Polio'] >=100) | 
       (df['Diphtheria'] >=100) | 
       (df['Thinness_ten_nineteen_years'] >=100) |
       (df['Thinness_five_nine_years'] >=100)), : ]

Empty DataFrame
Columns: [Country, Region, Year, Infant_deaths, Under_five_deaths, Adult_mortality, Alcohol_consumption, Hepatitis_B, Measles, BMI, Polio, Diphtheria, Incidents_HIV, GDP_per_capita, Population_mln, Thinness_ten_nineteen_years, Thinness_five_nine_years, Schooling, Economy_status_Developed, Economy_status_Developing, Life_expectancy]
Index: []

[0 rows x 21 columns]

In [8]:
df.loc[((df['Infant_deaths'] >=100) | 
        (df['Under_five_deaths'] >=100) | 
       (df['Adult_mortality'] >=100) | 
       (df['Alcohol_consumption'] >=100) |
       (df['Life_expectancy'] >=100)), : ]

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Turkiye,Middle East,2015,11.1,13.0,105.8240,1.320,97,65,27.8,...,97,0.08,11006,78.53,4.9,4.8,7.8,0,1,76.5
2,India,Asia,2007,51.5,67.9,201.0765,1.570,60,35,21.2,...,64,0.13,1076,1183.21,27.1,28.0,5.0,0,1,65.4
3,Guyana,South America,2006,32.8,40.5,222.1965,5.680,93,74,25.3,...,93,0.79,4146,0.75,5.7,5.5,7.9,0,1,67.0
6,Russian Federation,Rest of Europe,2015,6.6,8.2,223.0000,8.060,97,97,26.2,...,97,0.08,9313,144.10,2.3,2.3,12.0,0,1,71.2
7,Hungary,European Union,2000,8.7,10.1,192.9690,12.230,88,99,25.9,...,99,0.08,8971,10.21,2.3,2.3,10.2,1,0,71.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,"Iran, Islamic Rep.",Middle East,2007,19.7,23.1,129.9335,0.023,97,65,25.6,...,99,0.14,5305,71.34,7.5,7.8,8.9,0,1,72.6
2859,Niger,Africa,2000,97.0,224.9,291.8240,0.092,72,64,20.8,...,34,0.49,399,11.33,12.8,12.9,1.1,0,1,49.9
2860,Mongolia,Asia,2009,23.9,28.6,235.2330,6.560,97,97,25.3,...,95,0.02,2515,2.67,2.2,2.3,9.1,0,1,66.9
2861,Sri Lanka,Asia,2004,17.7,28.9,134.8950,1.560,62,95,21.9,...,97,0.02,2130,19.39,15.4,15.5,10.3,0,1,74.3
2862,Lithuania,European Union,2002,7.9,9.9,204.0120,11.000,94,95,26.1,...,95,0.05,7424,3.44,3.3,3.3,11.1,1,0,71.8

|Columns | In Notebook | In Metadata | Standardisation |
|------- |------- |------- |------- |
|Country| yes | yes ||
|Region| yes | **no** ||
|Year| yes | yes ||
|Adult_mortality| yes | yes | yes |
|Infant_deaths| yes | yes | yes |
|Economy_status_Developed| yes | **'Status'** ||
|Economy_status_Developed| yes | **'Status'** ||
|Infant_deaths| yes | yes ||
|Alcohol_consumption| yes | **'Alcohol'** ||
|percentage expenditure| **no** | yes ||
|Hepatitis_B| yes | yes ||
|Measles| yes | yes | yes |
|BMI| yes | yes ||
|Under_five_deaths| yes | yes | yes |
|Polio| yes | yes ||
|Total expenditure| **no** | yes ||
|Diphtheria| yes | yes ||
|Incidents_HIV| yes | **'HIV/AIDS'** | yes |
|GDP_per_capita| yes | **'GDP'** ||
|Population_mln| yes | yes ||
|Thinness_ten_nineteen_years| yes | **'thinness 1-19 years'** ||
|Thinness_five_nine_years| yes | yes ||
|Income composition of resources| **no** | yes ||
|Schooling| yes | yes | yes |